body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

#options-form {
    border: 2px solid black;
    margin: 100px 30px auto 30px;
    padding: 20px;
    background-color: pink;
    width: auto;
}

.text-area {
    margin: 100px 50px auto auto;
    width: 80%;
}

label {
    margin-top: 20px;
}